.character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 125px; 
    overflow-wrap: break-word;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    max-width: 50%;
    border-radius: 8px;
}

.character-card h3 {
    margin-top: 8px;
    font-size: 1.1em;
    padding: 0 10px;
}
body{
    background-color: rgb(139, 134, 134);
}
.home-container {
    background-color: #444b58; 
    padding: 20px;
}
